{deps, [
        {oneshot, "1.7.0",
          {git, "https://github.com/mattsta/oneshot.git", {tag, "v1.7.0"}}}
       ]}.

{plugins, [pc]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]
  }
 ]
}.

{port_specs, [{"priv/stdin_forcer",     ["c_src/stdin_forcer.c"]},
              {"priv/errcat",           ["c_src/errcat.c"]}]}.